@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: acumin-variable, sans-serif;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "wght" 194.2857;
}
App{
  color: #0000 !important;
  text-align: center;
}
  /* styling homepage*/
.welcome-text {
  font-family: sans-serif,;
  color: grey;
  align-items: center;
  font-size: 5.5rem;
  margin: 1rem 14rem 3rem 10rem;
  font-family: "acumin-variable", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 7rem;
}
.home {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.home-cont{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.company-name {
  color: rgb(93, 139, 174);
}
.button-services {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 1.3rem;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
}
.btn-service {
  border: 1.5pt solid rgb(93, 139, 174);
  border-radius: 8px;
  font-size: 1rem;
  color: grey;
  background-color: white;
  padding: 1rem;
}
.btn-service:hover {
  background-color: rgb(93, 139, 174);
  color: white;
  border: 2pt solid grey;
  transition: 10ms ease-in-out;
}
/* styling call to action component */
.cta-container {
 background-color:#4882b1;
 color: white;
 display: flex;
 align-items: center;
 font-family: "acumin-variable", sans-serif;
 max-width: 2200px;
 max-height: 500px;

}
.text-hook {
  font-size: 4rem;
  font-family: sans-serif;
  line-height: 1rem;
  color: black;
  font-weight: bold;
}
.text-paragraph {
  font-size: 2rem;
  margin: 3rem
}
.btn-cta{
  border: 1pt solid white;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
  background-color: black;
  padding: 1rem;
  padding-left: 1rem;
}
.btn-cta:hover{
  border: 1pt solid black;
  border-radius: 8px;
  font-size: 1rem;
  color: black;
  background-color: white;
  padding: 1rem;
  padding-left: 1rem;
  padding-left: 1rem;
} 
/*styling the companies worked with file */
.companies-section {
  display: flex; /* Use flexbox for side-by-side layout */
}
.companies-text{
  font-size: 1.7rem;
  font-style:"acumin-variable";
  color: #4882b1;  
  align-items: center; 
  padding-top: 2rem;
}
.heading{
  display: flex;
  margin: 0 auto;
  padding-right: 4rem;
}
.darktest{
  height: 2rem;
  width: 3rem;
}

.logos-motion {
  display: flex;
  margin: 0 auto;
  position: absolute; /* Absolute positioning */
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
}
.logos{
  max-width: auto 100%;
 max-height: 4rem;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  animation:  30s linear infinite;
}@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.opacity-0 {
  opacity: 0; /* Set opacity to 0 for fade-out */
  transition: opacity 0.8s ease-in-out; /* Add optional transition for smooth fading */
}


/*styling the footer */
.title-font {
 color: #4882b1;

}
/* styling the about page */
.company-container {
  font-family:"acumin-variable",sans-serif;

}
.logo-structures {
  height: 40rem;
  width: 40rem;
  max-width: 100%;
  max-height: 100%;
}
.second-paragraph {
  padding-top: 10rem;
}
.about-company{
  font-size: 3rem;
  color:gray;
}
company-about {
  padding-top:10rem;
}
.company-name-1{
  color: #4882b1;
}
.company-par{
  font-size:1.2rem;
  padding-top: 7rem;
}
.company-name-2{
  color:rgb(133,191,89);
}
/* styling the service spage */
/*/styling the form */
label{
  color:#4882b1 !important;
  font-family:"acumin-variable",sans-serif;
  font-weight: 300;
}
.profile {
  display: flex;
  justify-content: center;
  color: gray;
  font-family: "Cumin variable", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.icon{
width: 2rem;
height: 2rem;
}
.name {
  font-weight: bold;
  text-decoration: italic ;
}
.lucky-shot {
border-radius: 50%;
}
.connect {
  font-size: 1.3rem;
  font-weight: bold;
}
/*styling for mobile device home page */

@media screen and (max-width: 657px) {
  .welcome-text {
    font-family: sans-serif,;
    color: grey;
    font-size: 3rem;
    font-family: "acumin-variable", sans-serif;
    font-weight: 500;
    line-height: 5rem;
    margin: 2rem;
  }
  .home {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .home-cont{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .company-name {
    color: rgb(93, 139, 174);
  }
  .button-services {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2rem;
  }
  .btn-service {
    border: 1.5pt solid rgb(93, 139, 174);
    border-radius: 8px;
    font-size: 1rem;
    color: grey;
    background-color: white;
    padding: 1rem;
  }
  .btn-service:hover {
    background-color: rgb(93, 139, 174);
    color: white;
    border: 2pt solid grey;
    transition: 10ms ease-in-out;
  }

  /*styling for call to action*/
  .cta-container {
    background-color:  #4882b1 !important;
    background-color: rgb(93, 139, 174);
    display: flex;
    align-items: center;
   }
   .text-hook {
     font-size: 1.3rem;
     font-family: "acumin-variable", sans-serif;
     line-height: 1rem;
     color: rgb(56, 53, 53);
     align-items: center;
   }
   .text-paragraph {
     font-size: 1rem;
     color: white;
   }
   .btn-cta{
     border: 1pt solid white;
     border-radius: 8px;
     color: white;
     background-color: rgb(56, 53, 53);
     padding: 1rem;
     padding-left: 1rem;
   }
   .btn-cta:hover{
     border: 1pt solid black;
     border-radius: 8px;
     font-size: 1rem;
     color: #4882b1;
     background-color: white;
     padding: 1rem;
     padding-left: 1rem;
     padding-left: 1rem;
   } 
   /*styling  companies worked with */
   
.companies-section {
  display: flex; /* Use flexbox for side-by-side layout */
}
.companies-text{
  font-size: 1.7rem;
  font-style:"acumin-variable";
  color: #4882b1;  align-items: center; 
  padding-top: 2rem;
}
.heading{
  display: flex;
  align-items: center; 
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-right: 1rem;
}
.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  animation: marquee 20s linear infinite;
}
.marquee{
  margin-bottom: 5rem;
}
.campanies-section {
  position: inherit;
  padding-bottom: 8rem;
  max-width: 100%;

}



@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-80%, 0, 0);
  }
}
.opacity-0 {
  opacity: 0; /* Set opacity to 0 for fade-out */
  transition: opacity 0.5s ease-in-out; /* Add optional transition for smooth fading */
}


/*styling the footer */
.title-font {
 color: #4882b1;

}
/* styling the about page */
.company-container {
  font-family:"acumin-variable",sans-serif;

}
/* styling the about page */
.company-container {
  font-family:"acumin-variable",sans-serif;

}
.logo-structures {
  height: auto;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  
}
.second-paragraph {
  padding-top: 3rem;
}
.about-company{
  font-size: 3rem;
  color:gray;
}
company-about {
  padding-top:2rem;
}
.company-name-1{
  color: #4882b1;
}
.company-par{
  font-size:1.2rem;
  padding-top: 3rem;
}
.company-name-2{
  color:rgb(133,191,89);
}

}