@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    color: #0000 !important;
    background-color: #ffff !important;
  }
  /* styling homepage*/
.welcome-text {
  font-family: sans-serif,;
  color: grey;
  font-size: 5.5rem;
  margin: 1rem 14rem 3rem 10rem;
  font-family: "acumin-variable", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 7rem;
}
.company-name {
  color: rgb(93, 139, 174);
}
.button-services {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 1.3rem;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
}
.btn-service {
  border: 1.5pt solid rgb(93, 139, 174);
  border-radius: 8px;
  font-size: 1rem;
  color: grey;
  background-color: white;
  padding: 1rem;
}
.btn-service:hover {
  background-color: rgb(93, 139, 174);
  color: white;
  border: 2pt solid grey;
  transition: 10ms ease-in-out;
}
/* styling call to action component */
.cta-container {
 background-color:hsl(206, 33%, 52%);
 color: white;
 display: flex;
 align-items: center;
}
.image-text {
  font-size: 7rem;
  font-family: italic;
}
.hook-up-text{
font-family: "acumin-variable", sans-serif;
align-items: left;
}
.col {
  align-items: right;
}
.text-hook {
  font-size: 2.5rem;
  font-family: sans-serif;
  line-height: 1rem;
  color: black;
  font-weight: bold;
}
.text-paragraph {
  font-size: 1.2rem;
}
.btn-cta{
  border: 1pt solid white;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
  background-color: black;
  padding: 1rem;
  padding-left: 1rem;
}
.btn-cta:hover{
  border: 1pt solid black;
  border-radius: 8px;
  font-size: 1rem;
  color: black;
  background-color: white;
  padding: 1rem;
  padding-left: 1rem;
  padding-left: 1rem;
} 
/*styling the companies worked with file */
.companies-section {
  display: flex; /* Use flexbox for side-by-side layout */
}
.companies-text{
  font-size: 1.7rem;
  font-style:"acumin-variable";
  color: #4882b1;  align-items: center; 
  padding-top: 2rem;
}
.heading{
  display: flex;
  align-items: center; 
  margin: 0 auto;
  padding-right: 4rem;
}
.delta,.beadvodka {
  height: 4rem;
  width: 100%;
}
.logos-motion {
  display: flex;
  margin: 0 auto;
  position: absolute; /* Absolute positioning */
  left: 200px; /* Position behind the text container */
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  animation: marquee 9s linear infinite;
}

.marquee {
  display: flex;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-80%, 0, 0);
  }
}
.opacity-0 {
  opacity: 0; /* Set opacity to 0 for fade-out */
  transition: opacity 0.5s ease-in-out; /* Add optional transition for smooth fading */
}


/*styling the footer */
.title-font {
 color: #4882b1;

}
/* styling the about page */
.company-container {
  font-family:"acumin-variable",sans-serif;

}
.logo-structures {
  height: 40rem;
  width: 40rem;
  max-width: 100%;
  max-height: 100%;
}
.second-paragraph {
  padding-top: 10rem;
}
.about-company{
  font-size: 3rem;
  color: #4882b1;

}
.company-name-1{
  color: #4882b1;
}
.company-par{
  font-size:1.2rem;
}
.company-name-2{
  color:rgb(133,191,89);

}
/*/styling the form */
label{
  color:#4882b1 !important;
  font-family:"acumin-variable",sans-serif;
  font-weight: 300;
}
